@{
    ViewData["Title"] = "Home Page";
}

<div class="glass">
    <div class="text-center">
       <h1 class="display-4" style="color:blue"><strong>Welcome</strong></h1>
       <h4 style="color:blue"><strong>My</strong></h4><h5 style="color:blue"><strong>Stock Management</strong></h5>
        <h5 style="color:blue"><strong>This is a CRUD application using C#, ASP NET CORE MVC 5, Entity framework with SQL server database.</strong></h5>
        <h5 style="color:blue"><strong>There is an extra functionality it gives a "warning" message before the product expire<br />
            less then 60 , 30 and 15 days before automatically.</strong></h5>
     </div>
</div>





